body {
  background-color: #222;
}

/* Navbar */
.navbar {
  margin-bottom: 1rem;
}

.navbar a {
  font-weight: bold;
  color: #ddd
}

.navbar a:hover {
  color: #fff;
  text-decoration: underline;
  cursor: pointer
}

.navbar-brand > img {
  display: inline-block;
  width: 20px;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-right: 2px;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  background-color: #333;
}

/* https://css-tricks.com/scale-svg/ */
.logo-svg {
  width: 100%;
  background-image: url(./images/logo.svg);
  background-size: cover;
  height: 0;
  padding: 0; /* reset */
  padding-bottom: 100%;
}

