// https://css-tricks.com/snippets/css/glowing-blue-input-highlights/
input[type=text], input[type=email], input[type=password], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  background-color: $color-grey-light;
  color: $color-white-medium-emphasis;
}
 
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
  box-shadow: 0 0 5px $color-primary;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid $color-primary;
  background-color: $color-grey-light;
  color: $color-white-high-emphasis;
}

.inputTitle {
    border-bottom: 3px solid #BB86FC;
    padding-bottom: 4px;
    display: inline-block;
}
