// Farben, inspiriert von https://material.io/design/color/dark-theme.html#custom-application
$color-white: rgba(255, 255, 255, 0); // Text auf Background Farbe
$color-black: #000; // Auf Error-Farbe
$color-white-high-emphasis: opacify($color-white, 0.87);
$color-white-medium-emphasis: opacify($color-white, 0.60); // Hint Text
$color-white-disabled: opacify($color-white, 0.38); // Disabled Text

$color-grey-dark: #121212; // Primary Surface + Background Color (von Material Design)
$color-grey-light: #1E1E1E;
$color-primary: #BB86FC;
$color-primary-variant: #3700B3;
$color-Secondary: #03DAC5;
$color-error: #CF6679;

// Bootstrap Überschreiben
$btn-border-radius: 0px;
$gray-900: $color-white-disabled;





